{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to our API</h1>
    <p class ="lead"> <b>This application is built on the Python Flask Framework and is part of your Development & Design Project.</b></p>
    <p class="lead"> This is an API that allow the extraction of datas from the database <br>and create a Tensorflow model from it and return output as JSON</p>
    <button class="btn btn-outline-success btn-lg" type="button">Get Started</button>
</div>
{% endblock %}